* {
  margin: 0;
  padding: 0;
  color: aqua;

}


#ALB1494:hover+.Durrës {
  display: inline;

}

.Durrës {
  display: none;
  position: absolute;
  background-color: #ffffff;
  padding: 5px;
  border: 1px solid #cccccc;
}


svg path {
  fill: #102e3a;
  stroke: #eee;
  stroke-width: .25;
}

svg path:hover {
  fill: #006284;
  transition: 0.6s;
  cursor: pointer;
}

body {

  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000000;
}

#map-container {
  width: 100%;
  /* Adjust the width as needed */
  max-width: 500px;
  /* Set a maximum width if desired */
}

#svg-map {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

a {
  color: #eee;
}

.durres{
  position: absolute;
  top: 35%;
  left: 40%;
}
.fier{
  position: absolute;
  top: 530px;
  left: 760px;
}
.shkoder{
  position: absolute;
  left: 770px;
  top: 180px;
}
.kukes{
position: absolute;
top: 180px;
left: 920px;
}

.vlor{
  position: absolute;
  top: 650px;
  left: 760px;
}
.korq{
  position: absolute;
  top: 580px;
  left:970px;

}
.berat{
  position: absolute;
  top:580px;
  left:860px;
}
.elbasan{
  position: absolute;
  top: 470px;
  left: 850px;
}
.gjirokaster{
  position: absolute;
  top: 680px;
  left:850px;
}
.diber{
  position: absolute;
  top: 320px;
  left: 880px;
}
.lezhe{
  position: absolute;
  top: 260px;
  left: 800px;
}
.tirane{
  position: absolute;
  top:400px;
  left: 800px;
}